/*
body{
    background-color: #008B8B;

}
*/
.table{
    background-color: #DCDCDC;
    height: 100vh;
    width: 80vw;

}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    display: flex;
    justify-content: center;
    align-items: center;
    style={{ height: 400, width: '100%' }}
*/